.VisualizerContainer {
  flex-grow: 1;
  background-color: #1a1c30;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Visualizer {
  position: relative;
  height: 40vh;
  width: 100%;
  margin: 20px;
  border: 1px solid lightgray;
}

.ArrItem {
  bottom: 0;
  display: flex;
  place-content: center;
  place-items: center;
  position: absolute;
  transition: all 0.5s ease;
}
