.BottomBar {
  flex: 0 0 60px;
  background-color: #1a1c30d5;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.AlgoName {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.2rem;
}

.Controls {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

.Slider {
  position: absolute;
  left: 0;
  top: -6px;
  width: 100%;
}
