.Header {
  height: 60px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GitHubLink {
  width: 2rem;
  height: 2rem;
}

.GitHubLinkInvert {
  filter: invert(1);
}

.BtnGrp {
  display: flex;
  align-items: center;
  gap: 20px;
}
