.bottom-sheet {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  transition: transform 0.5s ease;
  transform: translateY(100%);
}

.bottom-sheet__open {
  transform: unset;
}

.bottom-sheet__container {
  position: relative;
}

ul.algo-list {
  list-style: none;
  margin: 20px;
  padding: 0;
  max-height: calc(60vh - 40px);
  overflow: auto;
}

ul.algo-list li {
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #80808075;
}

ul.algo-list li.selected {
  background-color: var(--secondary);
  opacity: 0.9;
  color: black;
  border-radius: 10px;
}
